@model IEnumerable<FloridaBikeShop.Models.Servicio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tipo_servicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valor_servicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_servicio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bicicleta.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tecnico.documento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_servicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor_servicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_servicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bicicleta.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tecnico.documento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
