@model List<FloridaBikeShop.Models.ViewModels.Modelo_Propietario>

@{
    ViewBag.Title = "ListaPropietarios";
}

<h2>@ViewBag.Title</h2>
<br />
<br />
<div class="row" style="text-align:right; padding:5px;">
    <a href="/Propietario/NuevoPropietario"class="btn btn-primary">Nuevo</a>
</div>
<br />
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Documento</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Telefono</th>
                <th>Direccion</th>
            </tr>
            @foreach (var oElement in Model)
            {
                <tr>
                    <td>@oElement.Id</td>
                    <td>@oElement.Documento</td>
                    <td>@oElement.Nombre</td>
                    <td>@oElement.Apellido</td>
                    <td>@oElement.Telefono</td>
                    <td>@oElement.Direccion</td>
                    <td>
                        <a class="btn btn-default" href="~/Propietario/EditarPropietario/@oElement.Id">Editar</a>
                        <a class="btn btn-danger" href="~/Propietario/EliminarPropietario/@oElement.Id">Eliminar</a>
                    </td>
                </tr>
        }
        </table>
    </div>
</div>

